<% include partials/header %>
  <h1>Campgrounds</h1>

  <% campgrounds.map(camp => { %>
    <div>
      <h4><%= camp.name %></h4>
      <img src="<%= camp.image %>" alt="" />
    </div>
  <% }) %>
<% include partials/footer %>
